% agate config for sg607_20260128_WHICEAS

% %%%% REQUIRED CONFIG PARAMETERS %%%%%%%%%%%
CONFIG.glider = 'sg607'; % glider serial number
CONFIG.mission = '20260128'; % mission identifier defined in sg_calib_constants.m 
CONFIG.sgVer = 67.01; % 66.12, 66.14, 67.00 or 67.1, firmware version displayed on glider start up
CONFIG.tmd = 80; % target mission duration in days

% define paths
CONFIG.path.mission = 'C:\Users\selene.fregosi\Desktop\sg607_20260128_WHICEAS\';

% %%%% OPTIONAL - basestation %%%%%%%%%%%%%%%
% specify basestation configuration file
CONFIG.bs.cnfFile = 'C:\Users\selene.fregosi\Documents\gliders_local\basestation_configuration\basestation_config_seagliderpub.cnf';
% specify path to store downloaded basestation files
CONFIG.path.bsLocal = fullfile(CONFIG.path.mission, 'basestationFiles\');
% specify path to remote files (e.g., glider's current/mission folder)
CONFIG.path.bsRemote = '/home/jails/noaaosu/gliderjail/home/sg607/current';

% maps
% path to basemap files (land shape files and bathymetry rasters)
CONFIG.path.shp = 'C:\Users\selene.fregosi\Documents\GIS\';
% optional: can specify full path to bathymetry file, otherwise agate 
% will prompt to select file
CONFIG.map.bathyFile =  'C:\Users\selene.fregosi\Documents\GIS\etopo\ETOPO2022_bedrock_30arcsec_MHI.tiff';
% define map extents and location of map elements
% RODEO ONLY
%CONFIG.map.latLim = [21.0 21.7];
%CONFIG.map.lonLim = [-158.5 -158.1];
% WHICEAS + RODEO
CONFIG.map.latLim = [17 24];
CONFIG.map.lonLim = [-162 -153];
%CONFIG.map.naLat = 00.00; % optional arguments for north arrow location on map; 
                          % leave empty '[]' for no north arrow
%CONFIG.map.naLon = 000.00;
%CONFIG.map.scalePos = [0 0]; % optional arguments for scale bar location 
                             % and ticks, leave empty '[]' for no scale bar
%CONFIG.map.scaleMajor = [0:50:100];
%CONFIG.map.scaleMinor = [0:12.5:25];

% piloting plot settings
% pre allocate fig numbers so figures are updated rather than created new
CONFIG.plots.figSeed = 607; % suggest using the glider serial e.g., 639
CONFIG.plots.figNumList = CONFIG.plots.figSeed + [0 1 2 3 4 5 6 7 8 9]; 
% figNumList (1) = battery, (2) = voltagePackUse, (3) = humidity
% and pressure, (4) = map, (5) = zoomed map, (6) = minimum voltage, 
% (7) = voltage normalized, (8) = ERMA detections, (9) = ERMA reference

% load plot positions 
% load('C:\Users\User.Name\Documents\gliders\figPositions.mat');
% CONFIG.plots.positions = positions;